@ahs-oranje     : hsl( 39, 100%, 47%);
@ahs-groen      : hsl( 65, 100%, 40%);
@ahs-fuchsia    : hsl(325, 100%, 40%);
@ahs-blauw      : hsl(190, 100%, 40%);
@ahs-lichtgrijs : hsl(  0,   0%, 87%);
@ahs-middengrijs: hsl(  0,   0%, 67%);
@ahs-donkergrijs: hsl(  0,   0%, 47%);
@ahs-zwart      : hsl(  0,   0%,  0%);

.dmbs-container {
  color: @ahs-oranje;
}

.dmbs-header {
  background-color: @ahs-groen;
}

.dmbs-header-img {

}

.dmbs-header-text {

}

.dmbs-top-menu {

}

.dmbs-content {

}

.dmbs-main {

}

.dmbs-left {

}

.dmbs-right {

}

.dmbs-footer-menu {

}

.dmbs-author-credits {

}

.dmbs-footer {

}
